pip install absl-py==1.4.0
pip install asgiref==3.6.0
pip install astunparse==1.6.3
pip install cachetools==5.3.0
pip install certifi==2022.12.7
pip install charset-normalizer==3.1.0
pip install distlib==0.3.6
pip install dj-database-url==2.0.0
pip install Django==4.2
pip install filelock==3.12.0
pip install flatbuffers==23.3.3
pip install gast==0.4.0
pip install google-auth==2.17.3
pip install pip install google-auth-oauthlib==1.0.0
pip install google-pasta==0.2.0
pip install grpcio==1.54.0
pip install gunicorn==20.1.0
pip install h5py==3.8.0
pip install idna==3.4
pip install jax==0.4.8
pip install keras==2.12.0
pip install libclang==16.0.0
pip install Markdown==3.4.3
pip install MarkupSafe==2.1.2
pip install ml-dtypes==0.1.0
pip install mysql-connector==2.2.9
pip install numpy==1.23.5
pip install oauthlib==3.2.2
pip install ok==0.0.0
pip install opencv-python==4.7.0.72
pip install opt-einsum==3.3.0
pip install packaging==23.1
pip install Pillow==9.5.0
pip install pipenv==2023.4.20
pip install platformdirs==3.2.0
pip install protobuf==4.22.3
pip install psycopg2==2.9.6
pip install pyasn1==0.5.0
pip install pyasn1-modules==0.3.0
pip install requests==2.29.0
pip install requests-oauthlib==1.3.1
pip install rsa==4.9
pip install scipy==1.10.1
pip install six==1.16.0
pip install sqlparse==0.4.4
pip install tensorboard==2.12.3
pip install tensorboard-data-server==0.7.0
pip install tensorflow==2.12.0
pip install tensorflow-estimator==2.12.0
pip install tensorflow-intel==2.12.0
pip install tensorflow-io-gcs-filesystem==0.31.0
pip install termcolor==2.3.0
pip install typing_extensions==4.5.0
pip install tzdata==2023.3
pip install urllib3==1.26.15
pip install Werkzeug==2.3.3
pip install whitenoise==6.4.0
pip install wrapt==1.14.1
